.fb-wrap{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 300px;
    padding: 20px;
    border: 2px solid black;
}
.fb-register-form, .fb-sign-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    padding: 10px;
}
.d-none{
    display: none;
}