<!-- ------------ FOOTER ---------------------->

<footer class="footer">
  <div class="container footer_wrap">
    <div class="wrap-copyright">
      <p class="copyright">&#169; 2020 | All Rights Reserved |</p>
    </div>

    <div class="footer_wrap-developed">
      <p>Developed with</p>
      <video
        class="footer_logo-video"
        src="./images/footer/logo-like.mp4"
        autoplay
        loop
      >
        Sorry, your browser doesn't support embedded videos
      </video>
      <p>
        by
        <a
          href="#!"
          class="footer_modal"
          aria-label="GoIT Students"
          data-modal-open
          >GoIT Students</a
        >
      </p>
    </div>
  </div>
</footer>

<!-------------- MODAL WINDOW ------------------>
<div class="backdrop" data-modal>
  <div class="modal">
    <button
      class="close-button"
      aria-label="Закрыть"
      type="button"
      data-modal-close
    >
      <svg class="close-button__img" width="24" height="24">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h2>тут будет слоган и лого</h2>
    <ul>
      <li>
        <img src="./images/footer/IMG-4552.jpg" width="100" alt="Iva" />
        <p></p>
      </li>
      <!-- <li><img href="./images/footer/IMG-4552.JPG" alt=""></img><p></p></li> -->
      <!-- <li><img href="../images/footer/IMG-4552.JPG" alt=""></img><p></p></li>
    <li><img href="../images/footer/IMG-4552.JPG" alt=""></img><p></p></li>
    <li><img href="../images/footer/IMG-4552.JPG" alt=""></img><p></p></li>
    <li><img href="../images/footer/IMG-4552.JPG" alt=""></img><p></p></li> -->
    </ul>
  </div>
</div>
