<!-- ------------ FOOTER ---------------------->

<footer class="footer">
  <div class="container footer_wrap">
    <div class="wrap-copyright">
      <p class="copyright">&#169; 2020 | All Rights Reserved |</p>
    </div>

    <div class="footer_wrap-developed">
      <p>Developed with</p>
      <video
        class="footer_logo-video"
        src="./images/footer/logo-like.mp4"
        autoplay
        loop
      >
        Sorry, your browser doesn't support embedded videos
      </video>
      <p>
        by
        <a
          href="#!"
          class="footer_modal"
          aria-label="GoIT Students"
          data-modal-open
          >GoIT Students</a
        >
      </p>
    </div>
  </div>
</footer>

<!-------------- MODAL WINDOW ------------------>
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button
      class="close-button"
      aria-label="Закрыть"
      type="button"
      data-modal-close
    >
      <svg class="close-button__img" width="24" height="24">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <img
      src="./images/footer/IMG-4533.jpg"
      class="logo-developer"
      width="50"
      alt="logo"
    />
    <h2>тут будет слоган и лого</h2>
    <ul class="developer">
      <li class="wrap-photo-developer">
        <img
          class="photo-developer"
          src="./images/footer/IMG-4555.jpg"
          alt="Iva"
        />
        <p></p>
      </li>
      <!-- <li class="wrap-photo-developer">
        <img
          class="photo-developer"
          src="./images/footer/IMG-4555.jpg"
          width="100"
          alt="Iva"
        />
        <p></p>
      </li>
      <li class="wrap-photo-developer">
        <img
          class="photo-developer"
          src="./images/footer/IMG-4555.jpg"
          width="100"
          alt="Iva"
        />
        <p></p>
      </li>
      <li class="wrap-photo-developer">
        <img
          class="photo-developer"
          src="./images/footer/IMG-4555.jpg"
          width="100"
          alt="Iva"
        />
        <p></p>
      </li>
      <li class="wrap-photo-developer">
        <img
          class="photo-developer"
          src="./images/footer/IMG-4555.jpg"
          width="100"
          alt="Iva"
        />
        <p></p>
      </li>
      <li class="wrap-photo-developer">
        <img
          class="photo-developer"
          src="./images/footer/IMG-4555.jpg"
          width="100"
          alt="Iva"
        />
        <p></p>
      </li> -->
    </ul>
  </div>
</div>
