<div class="masiania">
  <img
    class="masiania__img"
    src="./images/masiania/14676934_2.gif"
    alt="masiania"
  />

  <div class="masiania__wrapp is-hidden">
    <img
      class="masiania__img-message"
      src="./images/masiania/message.png"
      alt="message"
    />

    <p class="masiania__text"></p>

    <ul class="masiania__list is-hidden">
      <li class="masiania__item">
        <a
          class="masiania__link"
          href="https://savelife.in.ua/"
          target="_blank"
        >
          <img src="./images/masiania/zsu_item.jpg" alt="zsu emblem" />
        </a>
      </li>
      <li class="masiania__item">
        <a
          class="masiania__link"
          href="https://prom.ua/ua/Myagkaya-igrushka-slon.html"
          target="_blank"
        >
          <img src="./images/masiania/cartoon-elephant.jpg" alt="elephant" />
        </a>
      </li>
    </ul>

    <button type="button" class="close-button masiania__close-btn is-hidden">
      <svg class="icon-form" height="32" width="32">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
<div class="masiania-right">
  <img
    class="masiania-right__img"
    src="./images/masiania/14676934_2.gif"
    alt="masiania"
  />
</div>
