.footer_wrap-developed {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
.copyright {
  display: block;
  text-align: center;
}
.footer_logo-img {
  margin: 0 10px;
  width: 30px;
  height: 30px;
  @include tablet {
    width: 40px;
    height: 40px;
  }
}
.wrap-copyright {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 10px;
}
.footer {
  padding: 28.71px 0 29.7px 0;

  color: inherit;
  background: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  @include tablet {
    padding: 30px 0;
    font-size: 16px;
    line-height: 1.19;
  }
  @include desktop {
    padding-bottom: 28px;
  }
  &.light {
    color: var(--footer-text-color);
    background: var(--footer-background-color);
  }
}
// .wrap-footer-bottom {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }
.footer_modal {
  text-decoration: underline;
}
.footer_wrap {
  @include tablet {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}
.content {
  flex: 1;
}
