.footer_wrap-developed {
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright {
  display: block;
  text-align: center;
}
.footer_logo-vodeo {
  margin: 0 10px;
}
.copyright {
  margin-bottom: 9.9px;
}
.footer {
  margin-top: auto;
  padding: 28.71px 0 29.7px 0;
  color: #545454;
  background: #f7f7f7;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
