@mixin mobile {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
// ===========================
.footer_wrap-developed {
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright {
  display: block;
  text-align: center;
}
.footer_logo-vodeo {
  margin: 0 10px;
}
.wrap-copyright {
  margin-bottom: 9.9px;
}
.footer {
  display: flex;
  margin-top: 40px;
  padding: 28.71px 0 29.7px 0;
  color: var(--footer-text-color);
  background: var(--footer-background-color);
  //   font-family: 'Roboto';
  //   font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
.wrap-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer_modal {
  text-decoration: underline;
}
