.header {
  padding-top: 40px;
  padding-bottom: 44px;

  min-height: 220px;

  &.library-bg {
    background-image: radial-gradient(
        11.5em 13.5em at 50% 63%,
        #0000 55%,
        #282e35 87%,
        rgba(140, 24, 44, 1) 151%
      ),
      url(.././images/header/header-library-mob-min.jpg);
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: radial-gradient(
          11.5em 13.5em at 50% 63%,
          #0000 55%,
          #282e35 87%,
          rgba(140, 24, 44, 1) 151%
        ),
        url(.././images/header/header-library-mob-2x-min.jpg);
    }

    @media screen and (min-width: 768px) {
      background-image: radial-gradient(
          28.5em 12.5em at 50% 64%,
          #0000 63%,
          #282e35 83%,
          rgba(140, 24, 44, 1) 131%
        ),
        url(.././images/header/header-library-tab-min.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: radial-gradient(
            28.5em 12.5em at 50% 64%,
            #0000 63%,
            #282e35 83%,
            rgba(140, 24, 44, 1) 131%
          ),
          url(.././images/header/header-library-tab-2x-min.jpg);
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: radial-gradient(
          46.5em 17.5em at 50% 65%,
          #0000 62%,
          #282e35 82%,
          rgba(140, 24, 44, 1) 111%
        ),
        url(.././images/header/header-library-desk-min.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: radial-gradient(
            46.5em 17.5em at 50% 65%,
            #0000 62%,
            #282e35 82%,
            rgba(140, 24, 44, 1) 111%
          ),
          url(.././images/header/header-library-desk-2x-min.jpg);
      }
    }
  }

  &.home-bg {
    background-image: radial-gradient(
        11.5em 11.5em at 50% 62%,
        #0000 55%,
        #282e35 87%
      ),
      url(.././images/header/header-home-mobil-min.jpg);
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: radial-gradient(
          11.5em 11.5em at 50% 62%,
          #0000 55%,
          #282e35 87%
        ),
        url(.././images/header/header-home-mobil-min-2x.jpg);
    }

    @media screen and (min-width: 768px) {
      background-image: radial-gradient(
          28.5em 10.5em at 50% 62%,
          #0000 57%,
          #282e35 83%
        ),
        url(.././images/header/header-home-tab-min.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: radial-gradient(
            28.5em 10.5em at 50% 62%,
            #0000 57%,
            #282e35 83%
          ),
          url(.././images/header/header-home-tab-min-2x.jpg);
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: radial-gradient(
          48.5em 9.5em at 50% 62%,
          #0000 62%,
          #282e35 82%
        ),
        url(.././images/header/header-home-desk-min.jpg);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: radial-gradient(
            48.5em 9.5em at 50% 62%,
            #0000 62%,
            #282e35 82%
          ),
          url(.././images/header/header-home-desk-min-2x.jpg);
      }
    }
  }
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 20px;

    @media screen and (min-width: 768px) {
      margin-right: 40px;
    }
  }
  .site-nav__item.mr-0 {
    margin-right: 0;
  }
  &__link {
    font-size: 12px;
    line-height: 1.16;
    color: var(--primary-text-header-color);
    text-transform: uppercase;
  }

  &__link::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--accent-header-color);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover.site-nav__link::after {
    opacity: 1;
  }

  &__link-current.site-nav__link::after {
    opacity: 1;
  }
}

.logo {
  display: flex;
  align-items: center;

  &__text {
    font-size: 30px;
    line-height: 1.16;
    color: var(--primary-text-header-color);

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__icon {
    stroke: var(--primary-text-header-color);
    margin-right: 12px;
  }
}

.form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.header-none {
    display: none;
  }
}

.search-form {
  position: relative;
  margin-bottom: 20px;

  &__input {
    width: 280px;
    background-color: transparent;
    color: var(--primary-text-header-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    padding: 4px;
    border: none;
    border-bottom: 1px solid var(--input-line-header-color);
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      width: 336px;
    }

    @media screen and (min-width: 1280px) {
      width: 394px;
    }

    &::placeholder {
      color: var(--primary-text-header-color);
    }
  }

  &__input:hover,
  &__input:focus {
    border-color: var(--accent-header-color);
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.warning-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--error-text-header-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.library__list {
  display: flex;
  justify-content: center;

  &.header-none {
    display: none;
  }
}

.library__item:not(:last-child) {
  margin-right: 10px;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 16px;
  }
}

.library__btn {
  min-width: 85px;
  height: 44px;
  border: 1px solid var(--primary-text-header-color);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  font-size: 10px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--primary-text-header-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--accent-header-color);
    border-color: var(--accent-header-color);
  }
  &.is-active {
    background-color: var(--accent-header-color);
    border-color: var(--accent-header-color);
  }

  @media screen and (min-width: 768px) {
    min-width: 130px;
    font-size: 12px;
  }
}
