.auth-modal-container {
  min-width: 310px;
  min-height: 380px;
  padding: 0;

  @include tablet {
    width: 390px;
    min-height: 390px;
  }
  @include desktop {
    width: 410px;
    min-height: 410px;
  }
}

.form-field {
  padding: 0 20px 40px 20px;
}

.form-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  letter-spacing: 0.03em;

  color: var(--accent-header-color);
  margin-bottom: 15px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 15px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: var(--logo-fill);
}

.form-label + .form-label {
  margin-top: 10px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  font-size: 15px;
  line-height: 1.71;

  border-radius: 4px;

  padding-left: 20px;
  transition: border-color 250ms var(--cubic-bezier);

  &:focus {
    outline: none;
    border-color: var(--accent-header-color);
  }
}

.form-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.auth-modal-close {
  top: -30px;
  right: 0;
  @include tablet {
    top: -26px;
    right: -26px;
  }
}

.auth-btn-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.dtn-style {
  margin: 0 auto;
  display: block;
  margin-top: 35px;
}

.modal-button {
  width: 50%;
  min-height: 55px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;

  text-transform: uppercase;
  border: 0.5px solid #000000;
  color: var(--primary-color-text-modal);
  background-color: var(--accent-color-text-button-modal);
  cursor: pointer;
}
.is-active-btn {
  background-color: var(--accent-background-color-button-modal);
  color: var(--accent-color-text-button-modal);
  border: transparent;
  transition: border-color 250ms var(--cubic-bezier);
}
